<div class="d-flex flex-column text-center">
  <a href="/profile">
    <img
      class="logo-image"
      src="imgs/logo.png"
      alt="Foster Tracker Logo"
    />
  </a>
  <p class="m-0 mt-2 text-bub">Diary for foster animals</p>
</div>
